# Maintained by Ansible
listeners=SSL://:{{kafka_port}}

{% include './includes/base_server.properties.j2' %}

ssl.client.auth=required

# SSL Additions
security.inter.broker.protocol=SSL
ssl.truststore.location=/var/ssl/private/kafkabroker.truststore.jks
ssl.truststore.password=password
ssl.keystore.location=/var/ssl/private/kafkabroker.keystore.jks
ssl.keystore.password=password
ssl.key.password=password
confluent.metrics.reporter.security.protocol=SSL
confluent.metrics.reporter.ssl.truststore.location=/var/ssl/private/kafkabroker.truststore.jks
confluent.metrics.reporter.ssl.truststore.password=password
confluent.metrics.reporter.ssl.keystore.location=/var/ssl/private/kafkabroker.keystore.jks
confluent.metrics.reporter.ssl.keystore.password=password
confluent.metrics.reporter.ssl.key.password=password

# Confluent Support
{% include './includes/confluent_support.j2' %}
